@charset "UTF-8";
/*Extend en Grid Productos*/
.product-name, .grid-container-products .grid-item-product .product-price, .product-price {
  padding: 5px 10px;
  text-align: center;
  font-style: italic;
}

/*Extend en Contacto Form*/
input:focus, .formulario textarea:focus, textarea:focus {
  background-color: rgb(232, 221, 205);
}

/*Vista Desktop y Tablet Logo Animacion*/
.logo {
  width: 200px;
  height: 80px;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 1s;
}

@keyframes un_efecto {
  0% {
    width: 200px;
    opacity: 0;
  }
  20% {
    width: 250px;
    opacity: 1;
  }
  40% {
    width: 300px;
  }
  60% {
    width: 350px;
  }
  80% {
    width: 400px;
  }
  100% {
    width: 500px;
  }
}
/*Vista Mobile Logo Animación*/
@media (max-width: 480px) {
  .logo {
    width: 125px;
    height: 60px;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  @keyframes un_efecto {
    0% {
      width: 125px;
      opacity: 0;
    }
    20% {
      width: 155px;
      opacity: 1;
    }
    40% {
      width: 185px;
    }
    60% {
      width: 215px;
    }
    100% {
      width: 245px;
    }
  }
}
/*Desktop Imagen Local Transicion*/
#shop {
  padding: 50px 30px 30px 50px;
  margin: 50px;
  width: 700px;
  height: 720px;
  transition: height 1s, width 2s, background 2s;
}
#shop:hover {
  padding: 50px 30px 30px 50px;
  margin: 100px;
  width: 900px;
  height: 920px;
  border: solid 5px rgba(105, 102, 99, 0.816);
  background: linear-gradient(rgb(103, 101, 103), rgb(147, 68, 71));
}

/*Mobile Imagen Local Transicion*/
@media (max-width: 480px) {
  #shop {
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 10px;
    transition: height 1s, width 2s, background 2s;
  }
  #shop:hover {
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 10px;
  }
}
/*Estructura gral. de los HTML, e Sticky Icon Wpp*/
html body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
  background-color: whitesmoke;
}

#iconowpp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
}

/*Header*/
.centrar {
  display: flex !important;
  justify-content: center !important;
}

#top {
  border: solid 1px black;
  padding: 10px;
  background-color: white;
}

nav li {
  display: inline-block;
  margin-right: 35px;
  justify-content: center;
  padding: 5px;
}
nav li a {
  color: rgb(104, 100, 104) !important;
}
nav li a:hover {
  cursor: pointer;
}
nav div .carrito {
  padding: 15px !important;
}

/*Footer*/
#pie-de-pagina {
  margin-top: 50px;
  border-bottom: none;
  display: flex !important;
  justify-content: center !important;
}

.back-to-top {
  width: 100px;
  height: 70px;
  background-color: gainsboro;
  position: relative;
  left: 10px;
  bottom: 10px;
  text-align: center;
  transform: skew(-5deg, -2deg);
}
.back-to-top .boton-back {
  color: rgb(85, 81, 85) !important;
  font-size: 20px !important;
}

/* Main - Inicio*/
article h2 {
  color: rgb(85, 81, 85);
  background-color: gainsboro;
  text-decoration: underline;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
article p {
  color: darkgray;
  text-align: center;
}
article #video {
  display: flex !important;
  justify-content: center !important;
  padding: 30px;
}

/* Main - Productos*/
.submenu {
  display: flex !important;
  justify-content: center !important;
  margin: 10px;
  padding: 50px;
}

.grid-container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.grid-container-products .grid-item-product {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
}
.grid-container-products .grid-item-product .product-image {
  width: 250px;
  height: 250px;
}
.grid-container-products .grid-item-product .product-name, .grid-container-products .grid-item-product .product-price {
  padding: 5px 10px;
  text-align: center;
  font-style: italic;
}
.tabla {
  display: flex !important;
  justify-content: center !important;
}

/* Main - Nuestro local*/
.display-6 {
  text-align: center !important;
  border: solid 2px;
  border-radius: 20px;
  margin: 50px;
  background-color: #565e64;
  color: azure;
}

.formulario {
  display: block;
  text-align: center;
  /* Main - Contacto*/
}
.formulario .etiqueta {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formulario input:focus, .formulario textarea:focus {
  background-color: rgb(232, 221, 205);
}
.formulario .form-button:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
}

/* Main - Cambios y Devoluciones*/
.dark-violet {
  color: rgb(72, 6, 72);
}

/* Vista Mobile - Mediaqueries*/
@media (max-width: 480px) {
  /* Header*/
  #top {
    display: flex !important;
    justify-content: center !important;
    padding: 25px 100px;
  }
  nav li {
    display: block;
    margin-right: 35px;
    justify-content: center;
    padding: 5px;
  }
  nav div .carrito {
    display: flex;
    justify-content: flex-end !important;
  }
  /*Main Inicio*/
  article .centrar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  article .centrar audio {
    display: none;
  }
  article h2 {
    color: rgb(85, 81, 85);
    background-color: gainsboro;
    text-decoration: underline;
    text-align: center;
    font-size: medium;
  }
  article p {
    font-size: medium;
  }
  article #video {
    padding: 0px;
  }
  /*Footer*/
  #pie-de-pagina {
    text-align: center;
    font-size: 15px;
  }
  .back-to-top {
    width: 70px;
    height: 60px;
    background-color: gainsboro;
    position: relative;
    left: 5px;
    bottom: 10px;
    font-size: small bold;
    color: white !important;
    text-align: center;
    transform: skew(-5deg, -2deg);
  }
  .back-to-top .boton-back {
    color: rgb(85, 81, 85) !important;
    font-size: 15px !important;
  }
  /*Icono Wpp*/
  #iconowpp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 80px;
  }
  /* Productos*/
  .submenu {
    margin: 20px !important;
    padding: 60px !important;
  }
  .grid-container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }
  .grid-container-products .grid-item-product {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
  }
  .grid-container-products .grid-item-product .product-image {
    width: 200px;
    height: 200px;
  }
  .grid-container-products .grid-item-product .product-name, .grid-container-products .grid-item-product .product-price {
    padding: 5px 10px;
    text-align: center;
    font-style: italic;
  }
  .grid-container-products .grid-item-product .product-price {
    padding: 5px 10px;
    text-align: center;
    font-style: italic;
  }
  .tabla {
    display: flex !important;
    justify-content: center !important;
    font-size: 13px;
  }
  /* Nuestro local*/
  .display-6 {
    text-align: center !important;
  }
  #map {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
  #map iframe {
    width: 300px;
    height: 200px;
  }
  /* Form -contacto */
  .etiqueta {
    font-size: 15px !important;
  }
  .boton-enviar {
    background-color: white !important;
    border: 1px solid gray !important;
  }
}
/* Vista Tablet Mediaqueries*/
@media (min-width: 480px) and (max-width: 1200px) {
  #shop {
    width: 450px;
    height: 450px;
    margin: 20px;
    padding: 30px 10px 10px 30px;
    transition: height 1s, width 2s, background 2s;
  }
  #shop:hover {
    width: 500px;
    height: 500px;
    margin: 30px;
    padding: 40px 20px 20px 40px;
  }
  .submenu {
    font-size: large;
  }
  .grid-container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }
  .grid-container-products .grid-item-product {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  .grid-container-products .product-image {
    width: 250px;
    height: 250px;
  }
  .boton-enviar {
    background-color: white !important;
    border: 1px solid gray !important;
  }
}

/*# sourceMappingURL=style.css.map */
