@charset "UTF-8";
/* Inicio */
html body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px;
  background-color: whitesmoke !important;
}

/* Estilos Inicio - Imagen principal, Redes, Horarios de atención */
article h2 {
  color: rgb(85, 81, 85);
  background-color: gainsboro;
  text-decoration: underline;
  text-align: center;
  padding: 30px;
  margin: 30px;
}
article p {
  color: darkgray;
  text-align: center;
}

#shop {
  padding: 50px 20px 30px 60px;
  margin: 70px;
  width: 700px;
  height: 720px;
}

.menu {
  list-style-type: none;
  text-align: center;
  border-bottom: solid 2px #929292;
}

.centrar {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

#top {
  border: solid 1px black;
  padding: 10px;
  background-color: white;
}

a {
  color: rgb(104, 100, 104) !important;
}

.dark-violet {
  color: rgb(72, 6, 72);
}

#video {
  display: flex;
  justify-content: center;
  padding: 30px;
}

form {
  text-align: center;
}

.formulario {
  display: block;
}

.form-button:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
}

input:focus {
  background-color: rgb(232, 221, 205);
}

textarea:focus {
  background-color: rgb(232, 221, 205);
}

a:hover {
  cursor: pointer;
}

/* Productos/TablaTalles */
table {
  width: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.tabla {
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin-right: 35px;
  justify-content: center;
  padding: 5px;
}

/* a:visited{
    color: violet;
} */
.submenu {
  text-align: center;
  font-size: x-large;
  color: #606060;
}

.product-image {
  width: 250px;
  height: 250px;
}

.grid-container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.grid-item-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-name {
  padding: 5px 10px;
  text-align: center;
  font-style: italic;
}

.product-price {
  padding: 5px 10px;
  text-align: center;
  font-style: italic;
}

.grid-container-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones-de-productos {
  color: #929292;
  text-align: center;
}

#pie-de-pagina {
  margin-top: 50px;
  border-bottom: none;
}

#iconowpp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
}

.etiqueta {
  font-size: 25px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Vista Mobile Index y Productos*/
@media (max-width: 480px) {
  #top {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
  }
  .menu {
    list-style-type: none;
    text-align: left;
    border-bottom: none;
    font-size: medium;
  }
  nav li {
    display: block;
    margin-right: 35px;
    justify-content: center;
    padding: 5px;
  }
  .centrar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  audio {
    display: none;
  }
  #shop {
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 10px;
  }
  #pie-de-pagina {
    text-align: center;
  }
  #iconowpp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 80px;
  }
  article h3 {
    color: rgb(85, 81, 85);
    background-color: gainsboro;
    text-decoration: underline;
    text-align: center;
    font-size: medium;
  }
  p {
    font-size: medium;
  }
  .submenu {
    font-size: medium;
  }
  .opciones-de-productos {
    font-size: small;
  }
  .product-image {
    width: 200px;
    height: 200px;
  }
  .grid-container-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }
  .grid-item-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-name {
    padding: 5px 10px;
    text-align: center;
    font-style: italic;
  }
  .product-price {
    padding: 5px 10px;
    text-align: center;
    font-style: italic;
  }
  table {
    margin-left: 15%;
    margin-right: 15%;
  }
  .tabla {
    display: flex;
    justify-content: center;
    font-size: small;
  }
  #video {
    padding: 0px;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  #map {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  .etiqueta {
    font-size: 15px !important;
  }
  .boton-enviar {
    background-color: white !important;
    border: 1px solid gray !important;
  }
}
/* Vista Tablet */
@media (min-width: 480px) and (max-width: 1200px) {
  .grid-item-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .submenu {
    font-size: large;
  }
  .opciones-de-productos {
    font-size: medium;
  }
  .product-image {
    width: 250px;
    height: 250px;
  }
  .grid-container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }
  .etiqueta {
    font-size: 18px !important;
  }
  .boton-enviar {
    background-color: white !important;
    border: 1px solid gray !important;
  }
}

/*# sourceMappingURL=style.css.map */
