/*Header*/

.centrar{
    @include flex-center;
}

#top{
    border: solid 1px black;
    padding: 10px;
    background-color: white;
}

nav{
    li{
        display: inline-block; margin-right: 35px; justify-content: center; padding:5px;
        a {
        color: $color-menu !important;
        &:hover { cursor: pointer;}
        // &:visited {color:violet;}
        }
    }

    .boton-buscar{
        color: gray !important;
    }

    div{
        .carrito{
            padding: 15px !important;
        }
    }
}
